p{
  color:black;
  font-family:Arial;
  font-weight:normal;
  font-style:normal;
  font-size:16px;
}

h1{
color:black;
  font-family:Arial;
  font-weight:bold;
  font-style:italic;
  font-size:20px;
  padding:0;
}

h2{
color:black;
font: bold 16px Arial,serif;
padding:10px 40px 10px 5px
}

body {
//background-image: url('Background.png');
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
background-size: cover;
margin:top;
}



/* 
comment zwart is niet wit, conclusie wit is niet zwart
*/